.footer-container{
display:flex;
justify-content:center;
align-items:center;
padding: 10px;
/* height:90px; */
background-color:#FFFDEC;
}

.dark .footer-container{
    background-color: #1E201E;
}
.para{
    color:#3a395a;
    font-weight:900px;
}

.dark .para{
    color:#5dd39e;
}